<%include ../partials/header%>

<form action="/campgrounds" method="POST" class="form-group" style=" width: 40px; margin: 0 auto;">

<div class="form-control" >
<input type="text" name="name" placeholder="Name">
</div>
<div class="form-control">
<input type="text" name="img" placeholder="Image Url">
</div>

<div class="form-control">
<input type="text" name="description" placeholder="Add a description">
</div>
<div>
<a href="/campgrounds" >Go Back</a>
<button type="submit" class="btn btn-primary ">Add new camp ground</button>
</div>
</form>

<%include ../partials/footer%>